# ====================================
# Node / JavaScript Projects
# ====================================

# Node modules
node_modules/

# Build output
dist/
build/
.next/
out/
coverage/

# Env files
.env
.env.* 
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Temporary files
tmp/
temp/
*.tmp

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Cache
.cache/
.eslintcache
.stylelintcache
parcel-cache/
.next/cache/
sass-cache/

# Typescript
*.tsbuildinfo

# Others
/.husky/_/
